body {
  margin: 0px;
  background: lightgray;
  height: 100vh;
  user-select: none;
}
.extra{
  display: flex;
  width:100%;
  flex-direction: column;
  justify-content: space-between;
align-items: center;

 

}
.input{
  width:100%;
  height:45%;

}
.save{
  height:40px;
  width:65px;
  border-radius: 10px;
  border: none;
  
}

.save:hover{
  background: #04aa6d42;
  color: darkslategray;
  box-shadow: 0px 0px 5px 0px #04aa6d42;
}

.output{
  background:#d3d3d3 ;
  height: 45%;
  width: 100%;
  border-radius: 10px;

}

.input textarea{
  width:98%;
  height:100%;
  border-radius: 10px;
  padding: 10px;
}
.colorWhite {
    color: whitesmoke !important;
}
.colorDark {
    background: #9f9f9f !important;
}
.navbar {
  height: 44px;
  padding: 4px 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.options{
  width: 200px;
 
  display: flex;
  justify-content: space-evenly;

}
.editor1{
  padding: 8px;
 
  border-radius: 4px;
  margin: 0 12px;
  height: calc(100vh - 80px);
  display:flex;
  width:250%;
}
.editor {
  padding: 8px;
  background: white;
  border-radius: 4px;
  margin: 0 12px;
  height: calc(100vh - 80px);
  display:flex;
  width:100%;
 

}
.material-icons {
    color: grey;
    font-size: 32px;
    margin: 6px 4px;
    cursor: pointer;
}
.run {
    display: inline-block;
    background-color: #04AA6D;
    color: white;
    position: absolute;
    width: 40px;
    padding: 8px;
    font-size: 20px;
    font-family: sans-serif;
    margin: 2px 0 0 4px;
    border-radius: 2px;
    cursor: pointer;
}
.run:hover {
    color: darkslategray;
    background: #04aa6d42;
}
.darkRun:hover {
    font-weight: 500;
    color: whitesmoke;
}
.dropdown {
    position: absolute;
    right: 50%;
    top: -22px;
    outline: none;
    border: none;
    padding: 4px 8px 6px;
    border-radius: 4px;
    margin-right: 20px;
}
.darkDD {
    background: #9f9f9f !important;
    color: whitesmoke;
    font-weight: bold;
}
.playground{
    position: relative;
   
    
}
@media screen and (min-width: 800px) {
  .editor {
    width: 100%;
  }
  .playground {
      display: flex;
      
  }
  .input{
    width:90%;
    margin-right: 10px;
    margin-top:10px;
    
  }
  .output{
    width:93%;
   
    margin-top:10px;
    
  }
  .mr-0 {
      margin-right: 0px !important;
  }
}

@media screen and (max-width: 799px) {
  .extra{
   
     flex-direction:column;
     width:100%;
  }
  .editor {
      width:100%;
      height:100%;
      
      margin-bottom: 10px;
    
     
  }
  .input{
    height:50%;
    width:90%;

  }
  .output{
    height:50%;
    width:90%;
    margin:50px;
  }
  .editor1{
    width:100%;
    height:50%;
  }
  .playground {
    position:absolute;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:100%;
    height:100%;
  }
  .dropdown {
      right: 0%;
  }
}
